<div class="form-group">
  <label for="uploads">Attachments</label>
  <p class="upload-info">Only image files allowed</p>
  <!-- <uc-config
  class="my-uploader"
  ctx-name="my-uploader"
  source-list="local, camera"
  files-view-mode="grid"
  pubkey="0b5fb7c55c6e9125ad3e"
  multiple="true"
  removeCopyright="true"
></uc-config>

<uc-file-uploader-regular
class="my-uploader"
  ctx-name="my-uploader"
  class="uc-light"
></uc-file-uploader-regular>

<uc-upload-ctx-provider
  ctx-name="my-uploader"
  #ctxProvider
></uc-upload-ctx-provider> -->

  <div class="upload-input-container" (click)="openFileDialog()">
    <img
      class="upload-icon"
      src="assets/img/icons/upload.png"
      alt="upload icon"
    />
    <p>Drag a file or browse</p>
    <span>Upload file</span>
    <input
      type="file"
      id="filepicker"
      name="uploadInput"
      placeholder="Upload files"
      accept="image/*"
      (change)="onFileSelected($event)"
      multiple
      [maxLength]="10"
      #filepicker
    />
  </div>
  <div class="file-list-container" *ngIf="uploadedImages.length > 0">
    <div class="close-btn-container">
      <img
        src="assets/img/icons/close.png"
        alt="Cancel"
        class="cancel-icon"
        (click)="clearSelectedImages()"
      />
    </div>
    <!-- <div class="file-list" *ngIf="uploadedImages.length > 0">
      <div
        class="file-item"
        *ngFor="let img of uploadedImages; trackBy: trackByFilename"
      >
        <img [src]="img.base64" alt="attached image" class="file-preview" />
        <span class="file-name">{{ img.filename }}</span>
        <span class="file-type">{{ img.fileType }}</span>
      </div>
    </div>
  </div> -->
  <div class="image-grid">
          <div 
            class="image-item" 
            *ngFor="let image of uploadedImages; let i = index"
            (click)="openImageViewer(i)"
          >
            <img [src]="image.base64" [alt]="image.filename" class="preview-image" />
            <div class="image-overlay">
              <button class="remove-btn" (click)="removeImage(i); $event.stopPropagation()">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 4L4 12M4 4L12 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>
